<div class=" my-auto py-5" >
  <div class="row">
    <div class="col-11 col-lg-9 col-xl-8 mx-auto">
      <h3 class="font-weight-600 mb-4">Welcome to Eyedyll</h3>
      <form id="loginForm" method="post">
        <div class="form-group">
          <label for="country">Country</label>

          <select class="form-control" name="countryCode" id='country' name='country' [(ngModel)]="countryDialCode">
            <option *ngFor="let country of countries" [value]="country.dial_code">
              {{country.name}}
            </option>
          </select>

        </div>
        <div class="form-group">
          <label for="mobileno">Mobile Number</label>
          <input type="tel" name="mobileNo" class="form-control" id="mobileno" [(ngModel)]="mobileNumber" required="" placeholder="Enter Mobile Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
        </div>
        <div id ="captcha-container" ></div>
        <button type="submit"  id="sendOTPButton" class="btn btn-primary btn-block" (click)="sendOTP()" >Send OTP</button>
      </form>
      <p style="font-size: 0.8rem; font-weight: 500" class="text-muted mb-0">We will call or text you to confirm your number. Standard message and data rates apply.<a class="btn-link" href="#" (click)="goToSingUpScreen()"> Privacy Policy</a></p>
      <p class="text-2 text-dark font-weight-500 text-center mb-1">OR</p>
      <p class="text-center text-muted mb-0">Don't have an account? <a class="btn-link" href="#" (click)="goToSingUpScreen()">Sign Up</a></p>
      <button type="button" class="btn btn-facebook btn-block  shadow-none align-items-center d-flex justify-content-center py-1 px-3 mb-3">
        <span class="text-6 float-left"><i class="fab fa-facebook"></i></span>
        <span class="mx-auto">Continue with Facebook</span>
      </button>
      <button type="button" class="btn btn-google btn-block shadow-none align-items-center d-flex justify-content-center py-1 px-3 mb-3" (click)="singInWithGoogle()" >
        <span class="text-6 float-left"><i class="fab fa-google"></i></span>
        <span class="mx-auto">Continue with Google</span>
      </button>
      <button type="button" class="btn btn-Apple btn-block shadow-none align-items-center d-flex justify-content-center py-1 px-3 mb-3">
        <span class="text-6 float-left"><i class="fab fa-apple"></i></span>
        <span class="mx-auto">Continue with Apple</span>
      </button>
      <button type="button" class="btn btn-email btn-block shadow-none align-items-center d-flex justify-content-center py-1 px-3 mb-3" (click)="sinUpWithEmail()">
        <span class="text-6 float-left"><i class="fa fa-envelope"></i></span>
        <span class="mx-auto">Continue with Email</span>
      </button>
    </div>
  </div>
</div>


