body{
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  font-family: "Fira Code Retina";
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-control:not(.form-control-sm) {
  padding: .810rem .96rem;
  height: inherit;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}
a, a:focus {
  color: #007bff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.col-sm {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.custom-control-input{
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  top: 3px;
}
.text-right {
  text-align: right!important;
}

.text-primary .btn-link {
  color: #007bff !important;
}
.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}


.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn {
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-control:not(.form-control-sm) {
  padding: .810rem .96rem;
  height: inherit;
}

.form-control, .oxyy-login-register .custom-select {
  border-color: #dae1e3;
  font-size: 16px;
  color: #656565;
}
.text-6 {
  font-size: 24px !important;
  font-size: 1.50rem !important;
}
.text-center {
  text-align: center!important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
  padding-top: .5rem!important;
}
.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-group {
  margin-bottom: 1rem;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.font-weight-500 {
  font-weight: 500 !important;
}
.text-2 {
  font-size: 14px !important;
  font-size: 0.875rem !important;
}
.text-dark {
  color: #343a40!important;
}
.text-center {
  text-align: center!important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
p {
  line-height: 1.8;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn {
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-facebook {
  background-color: #1874eb;
  color: #fff !important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.pl-3, .px-3 {
  padding-left: 1rem!important;
}
.pr-3, .px-3 {
  padding-right: 1rem!important;
}
.pb-1, .py-1 {
  padding-bottom: .25rem!important;
}
.pt-1, .py-1 {
  padding-top: .25rem!important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.shadow-none {
  box-shadow: none!important;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-facebook {
  background-color: #1874eb;
  color: #fff !important;
}
.btn-google {
  background-color: #DB4437;
  color: #fff !important;
}
.btn-Linkedin{
  background-color: #0E76A8;
  color: #fff !important;
}
.btn-Apple{
  background-color: black;
  color: #fff !important;

}
.btn-email{
  background-color: grey;
  color: #fff !important;

}
