<div id="main-wrapper" >
  <div class="container-fluid">
    <div class="row no-gutters min-vh-100">
      <div id="left-panel-image" class="col-md-6">
        <div class="d-flex align-items-center h-100">
          <div class="opacity-8 bg-primary"></div>
          <div ></div>
          <div class=" mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">

              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="sendOTP" class="col-md-6 "  *ngIf="windowService.showOtpLogin; else showVerifyOtp">
        <app-otp-component></app-otp-component>
      </div>
      <ng-template #showVerifyOtp>
        <div id="verifyOTP" class="col-md-6 d-flex align-items-center" *ngIf="windowService.showVerifyOtp;else showSingInWithEmail">
          <app-otp-verify-component></app-otp-verify-component>
        </div>

        <ng-template #showSingInWithEmail>

          <div id="signInPage" class="col-md-6 d-flex align-items-center" *ngIf="windowService.showSingIn; else singUpWithEmail">
            <div class="container my-auto py-5">
              <div class="row">
                <div class="alert alert-danger" *ngIf="displaySignInErrorMessage">
                  <strong>Error!</strong> {{signInError}}
                </div>
                <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                  <h3 class="font-weight-600 mb-4">Sign In</h3>
                  <form id="LoginForm" method="post">
                    <div class="form-group">
                      <label for="emailAddress">Email Address</label>
                      <input type="email" name="singnInUn" class="form-control" [(ngModel)]="singInEmail" id="emailAddress" required="" placeholder="Enter Your Email">
                    </div>
                    <div class="form-group">
                      <label for="loginPassword">Password</label>
                      <input type="password" name="signInPw" class="form-control" [(ngModel)]="signInPassword" id="loginPassword" required="" placeholder="Enter Password">
                    </div>
                    <button class="btn btn-primary btn-block my-4" type="submit" (click)="singInWithUnPw()">Sign In</button>
                  </form>
                  <p class="text-center text-muted mb-0">Try another method. Go <a class="btn-link" href="#" (click)="gotoHomeScreen()" >home</a></p>
                  <div class="text-center text-muted mb-0"><a class="btn-link" href="#" (click)="showRecoverPassword()">Forgot Password ?</a></div>
                </div>
              </div>
            </div>
          </div>


          <ng-template #singUpWithEmail>


            <div id="signUpPage" class="col-md-6 d-flex align-items-center" *ngIf="windowService.showSingUp; else forgotPassword">
              <div class="container my-auto py-5">
                <div class="row">
                  <div class="alert alert-danger" *ngIf="displayErrorMessage">
                    <strong>Error!</strong> {{error}}
                  </div>
                  <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                    <h3 class="font-weight-600 mb-4">Sign Up</h3>
                    <form id="registerForm" method="post">
                      <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" name="email" class="form-control" id="signUpEmailAddress" required="" [(ngModel)]="singUpEmailAddress" placeholder="Enter Your Email">
                      </div>
                      <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="singUpLoginPassword" required=""  [NgPasswordValidator] = "options"  (valid)="isValid($event)" [(ngModel)]="singUpLoginPassword" placeholder="Enter Password">
                      </div>
                      <button class="btn btn-primary btn-block my-4" [disabled]="!isPasswordValid" (click)="singUpWithEmailPassword()" type="submit">Sign Up</button>
                    </form>
                    <p class="text-center text-muted mb-0">Already have an account? <a id="resendButton" class="btn-link" href="#" (click)="gotoHomeScreen()">Log In</a></p>

                  </div>
                </div>
              </div>
            </div>

            <ng-template #forgotPassword>
              <div id="recoverPassword" class="col-md-6 d-flex align-items-center" *ngIf="windowService.showRecoverPassword">
                <div class="container my-auto py-5">
                  <div class="row">

                    <div class="alert alert-danger" *ngIf="showRecoverEmailError">
                      <strong>Error!</strong> {{recoverEmailError}}
                    </div>
                    <div class="alert alert-success" *ngIf="showSuccessRecoverEmail">
                      <strong>Error!</strong> {{"Password recovery email has been sent to " +recoverEmail+". Please check your email inbox"}}
                    </div>
                    <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                      <h3 class="font-weight-600 mb-4">Reset Password</h3>
                      <p class="text-muted mb-4">Enter the email address associated with your account.</p>
                      <form id="forgotForm" method="post">
                        <div class="form-group">
                          <label for="emailAddressRecover">Email Address</label>
                          <input type="email" name="recoverEmail" [(ngModel)]="recoverEmail" class="form-control" id="emailAddressRecover" required="" placeholder="Enter Email">
                        </div>
                        <button class="btn btn-primary btn-block my-4" type="submit" (click)="sendPasswordResetEmail()">Continue</button>
                      </form>
                      <p class="text-center text-muted mb-0">Return to <a class="btn-link" href="login.html">Log in</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </ng-template>
      </ng-template>


    </div>
  </div>
</div>
