<div id="verifyOtpMainDiv" class="container my-auto py-5" >
  <div class="row">
    <div class="col-11 col-lg-9 col-xl-8 mx-auto">
      <h3 class="font-weight-600 mb-4">Validate OTP</h3>
      <p class="text-muted mb-4">Please enter the OTP (one time password) to verify your account. A Code has been sent to <span class="text-dark">*******{{lastThreeDigit}}</span></p>
      <form id="otp-screen" method="post">
        <div class="form-row">
          <div class="col form-group">
            <input type="text" name="firstOtpNo" class="otpinput form-control text-center text-6 py-2" [(ngModel)]="firstOtpNo" maxlength="1" required="" autocomplete="off">
          </div>
          <div class="col form-group">
            <input type="text" name="secondOtpNo" class="otpinput form-control text-center text-6 py-2" [(ngModel)]="secondOtpNo" maxlength="1" required="" autocomplete="off">
          </div>
          <div class="col form-group">
            <input type="text" name="thirdOtpNo" class="otpinput form-control text-center text-6 py-2" [(ngModel)]="thirdOtpNo" maxlength="1" required="" autocomplete="off">
          </div>
          <div class="col form-group">
            <input type="text" name="fourthOtpNo" class="otpinput form-control text-center text-6 py-2" [(ngModel)]="fourthOtpNo" maxlength="1" required="" autocomplete="off">
          </div>
          <div class="col form-group">
            <input type="text" name="fifthOtpNo" class="otpinput form-control text-center text-6 py-2" [(ngModel)]="fifthOtpNo" maxlength="1" required="" autocomplete="off">
          </div>
          <div class="col form-group">
            <input type="text" name="sixthOtpNo" class="otpinput form-control text-center text-6 py-2" [(ngModel)]="sixthOtpNo" maxlength="1" required="" autocomplete="off">
          </div>
        </div>
        <button  class="btn btn-primary btn-block my-4" type="button" (click)="verifyOtp()" >Verify</button>
      </form>
      <p class="text-center  text-muted mb-0" *ngIf="showResend">Did not receive code? Resend code in {{timeLeft}} </p>
      <button id="resendButton" [disabled]="showResend" class="form-control text-center text-6 py-2"  (click)="resendCode()">Resend code</button>
      <p class="text-center text-muted mb-0">Return to <a class="btn-link" href="#" (click)="GotoHomeScreen()">Log in</a></p>
    </div>
  </div>
</div>



