<div id="main-wrapper" >
  <div class="container-fluid">
    <div class="row min-vh-100">
      <div id="left-panel-image" class="col-md-6">
        <div class="d-flex align-items-center h-100">
          <div class="opacity-8 bg-primary"></div>
          <div ></div>
          <div class=" mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">

              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- First registration step -->
      <div id="signInPage1" class="col-md-6 d-flex align-items-center" *ngIf="showFirstStep">
        <div class="container my-auto py-5">
          <div class="row">

            <div class="col-11 col-lg-9 col-xl-8 mx-auto mb-2">
              <!--<a href="#" class="mb-3"><i class="fas fa-arrow-left"></i> Go Back</a>-->
              <h5 class="font-weight-400 mb-3" style="color: #007bff">User Details</h5>
              <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" aria-valuenow="0"  style="width:0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
              </div>
              <form id="UserDetailsForm1" method="post">
                <div class="form-group">
                  <label for="firstname">First Name</label>
                  <input type="text" name="firstname" class="form-control" [(ngModel)]="firstname" id="firstname" required="" placeholder="Enter Your Firstname">
                </div>

                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" name="lastname" class="form-control" [(ngModel)]="lastname" id="lastname" required="" placeholder="Enter Your Lastname">
                </div>

                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" name="email" class="form-control" [(ngModel)]="email" id="email" required="" placeholder="Enter Your Email">
                </div>

                <div class="form-group">
                  <label for="mobileno">Phone Number</label>
                  <input type="tel" name="mobileno" class="form-control" [(ngModel)]="mobileno" id="mobileno" required="" placeholder="Enter Your Phone Number">
                </div>

                <div class="form-group">
                  <label for="location">Localtion</label>
                  <input type="text" name="location" class="form-control" [(ngModel)]="location" id="location" required="" placeholder="Enter Your Location">
                </div>

                <button class="btn btn-primary btn-block my-4" type="submit" (click)="saveUserDetailsStep1()">Next</button>
              </form>

            </div>

          </div>
        </div>
      </div>

      <!-- Second registration step -->
      <div id="signInPage2" class="col-md-6 "  *ngIf="showSecondStep">
        <div class="container">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto mb-2">


             <!-- <a  class="mb-3" (click)="goBackToStep1()"><i class="fas fa-arrow-left"></i> Go Back</a>-->

              <div class="progress mb-3 mt-5">
                <div class="progress-bar" role="progressbar" aria-valuenow="25"  style="width:25%;" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
              <h5 class="font-weight-400 mb-3" style="color: #007bff">Address Details</h5>
              <form id="UserDetailsForm2" method="post">

                <div class="form-group">
                  <label for="firstname">Type Address</label>
                  <input type="text" name="typedAddress" class="form-control"  required="" placeholder="Type address here">
                </div>

                <div class="form-group">
                  <label for="addressLine1">Address Line 1</label>
                  <input type="text" name="addressLine1" class="form-control" [(ngModel)]="addressLine1" id="addressLine1" required="" placeholder="Enter Address Line 1">
                </div>

                <div class="form-group">
                  <label for="addressLine2">Address Line 2</label>
                  <input type="text" name="addressLine2" class="form-control" [(ngModel)]="addressLine2" id="addressLine2" required="" placeholder="Enter Address Line 2">
                </div>

                <div class="form-group">
                  <label for="town">Town/City</label>
                  <input type="text" name="town" class="form-control" [(ngModel)]="town" id="town" required="" placeholder="Enter town/city">
                </div>

                <div class="form-group">
                  <label for="postcode">Postcode</label>
                  <input type="text" name="postcode" class="form-control" [(ngModel)]="postcode" id="postcode" required="" placeholder="Enter Postcode">
                </div>

                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="country" name="country" class="form-control" [(ngModel)]="country" id="country" required="" placeholder="Enter Country">
                </div>

              <div >
                  <button class="btn btn-primary " type="submit" (click)="goBackToStep1()"><i class="fas fa-arrow-left"></i> Back</button>
                  <button class="btn btn-primary float-end " type="submit" (click)="saveUserDetailsStep2()">Next <i class="fas fa-arrow-right"></i></button>
              </div>
              </form>

            </div>

          </div>
        </div>
      </div>

      <!-- Third registration step -->
      <div id="signInPage3" class="col-md-6" *ngIf="showThirdStep">
        <div class="container ">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto mb-2">

              <div class="progress mb-3 mt-5">
                <div class="progress-bar" role="progressbar" aria-valuenow="50"  style="width:50%;" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
              <h5 class="font-weight-400 mb-3" style="color: #007bff">Vehicle Details</h5>
              <form id="UserDetailsForm3" method="post">

                <div class="form-group">
                  <label for="noOfCars">Number of cars in household</label>
                  <input type="text" id="noOfCars" name="noOfCars" class="form-control"  [(ngModel)]="noOfCars" (focusout)="addVehicleRegistrationField()" required="" placeholder="">
                </div>

                <div class="form-group" *ngFor="let vehicale of vehicales; let i = index;">
                  <input type="text" id="registrationNo_{{i}}"  class="form-control"  [(ngModel)]="vehicale.registrationNumber" name="registrationNumber_{{i}}" required="" placeholder="Add Registration No for Car {{i+1}}"/>
                </div>

                <div class="form-group">
                  <label for="publicTransport">How many time do you travel by public transport(weekly):</label>
                  <input type="number" value="0" min="0" max="100" step="1" name="publicTransport" class="form-control" [(ngModel)]="publicTransportTimes" id="publicTransport" required="" placeholder="">
                </div>

                <div class="form-group">
                  <label for="taxiTransport">How often do you use taxi(Monthly):</label>
                  <input type="number" value="0" min="0" max="100" step="1" name="taxiTransport" class="form-control" [(ngModel)]="taxiTransportTimes" id="taxiTransport" required="" placeholder="">
                </div>

                <div class="form-group">
                  <label for="airTransport">How many times do you travel by airlines(Yearly)?</label>
                  <input type="number" value="0" min="0" max="100" step="1" name="airTransport" class="form-control" [(ngModel)]="airTransportTimes" id="airTransport" required="" placeholder="">
                </div>

                <div >
                  <button class="btn btn-primary " type="submit" (click)="goBackToStep2()"><i class="fas fa-arrow-left"></i> Back</button>
                  <button class="btn btn-primary float-end " type="submit" (click)="saveUserDetailsStep3()">Next <i class="fas fa-arrow-right"></i></button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>

      <!-- Fourth registration step -->
      <div id="signInPage4" class="col-md-6 " *ngIf="showFourthStep">
        <div class="container ">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto mb-2">
              <div class="progress mb-3 mt-5">
                <div class="progress-bar" role="progressbar" aria-valuenow="75"  style="width:75%;" aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
              <h5 class="font-weight-400 mb-3" style="color: #007bff">Supplier Details</h5>
              <form id="UserDetailsForm4" method="post">

                <div class="form-group">
                  <label for="electricitySupplier">Electricity Supplier</label>
                  <input type="text" name="electricitySupplier" class="form-control" [(ngModel)]="electricitySupplier" id="electricitySupplier" required="" placeholder="Enter Electricity Supplier">
                </div>

                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="gasSupplierSame" [ngModelOptions]="{standalone: true}" type="checkbox" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Gas supplier same as electricity supplier?
                  </label>
                </div>

                <div class="form-group" *ngIf="!gasSupplierSame">
                  <label for="gasSupplier">Gas Supplier</label>
                  <input type="text" name="gasSupplier" class="form-control" [(ngModel)]="gasSupplier" [ngModelOptions]="{standalone: true}" id="gasSupplier" required="" placeholder="Enter Gas Supplier">
                </div>

                <div class="form-check form-switch">
                  <input class="form-check-input" [(ngModel)]="buildingGeneratingElectricity" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Does building have it's own electricity-generating system?</label>
                </div>

                <div >
                  <button class="btn btn-primary " type="submit" (click)="goBackToStep3()"><i class="fas fa-arrow-left"></i> Back</button>
                  <button class="btn btn-primary float-end " type="submit" (click)="saveUserDetailsStep5()">Next <i class="fas fa-arrow-right"></i></button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>

      <!-- Fifth registration step -->
      <div id="signInPage5" class="col-md-6 d-flex align-items-center" *ngIf="showFifthStep">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto mb-2">
              <div class="progress mb-3 mt-5">
                <div class="progress-bar" role="progressbar" aria-valuenow="100"  style="width:100%;" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
              <h5 class="font-weight-400 mb-3" style="color: #007bff">Supplier Details</h5>
              <form id="UserDetailsForm5" method="post">
                <label for="electricitySupplier">Eating habits</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="eatingHabits" name="eatingHabits" id="veg" value="veg">
                  <label class="form-check-label" for="veg">
                    Veg
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="eatingHabits" name="eatingHabits" id="nonVeg" value="nonveg">
                  <label class="form-check-label" for="nonVeg">
                   Non Veg
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="eatingHabits" name="eatingHabits" id="vegan" value="vegan">
                  <label class="form-check-label" for="vegan">
                   Vegan
                  </label>
                </div>

                <div class="form-group" *ngIf="eatingHabits == 'nonveg'">
                  <label  for="nonVegFrequency">
                    How frequently do you eat non-veg(weekly)?
                  </label>
                  <input class="form-control" [(ngModel)]="nonVegFrequency" name="nonVegFrequency"  value="0" min="0" max="100" step="1"  type="number" id="nonVegFrequency">
                </div>


                <div class="form-group" >
                  <label  for="onlineShopFrequency">
                    How frequently do you shop online?
                  </label>
                  <input class="form-control" [(ngModel)]="onlineShopFrequency" name="onlineShopFrequency"  value="0" min="0" max="100" step="1"  type="number" id="onlineShopFrequency">
                </div>

                <div class="form-group" >
                  <label for="petFrequency">
                    How many pets live on your household?
                  </label>
                  <input class="form-control" [(ngModel)]="petFrequency" name="petFrequency"  value="0" min="0" max="100" step="1"  type="number" id="petFrequency">
                </div>

                <div >
                  <button class="btn btn-primary " type="submit" (click)="goBackToStep4()"><i class="fas fa-arrow-left"></i> Back</button>
                  <button (click)="saveUserDetails()" class="btn btn-primary float-end " type="submit">Save </button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
